.App {
  text-align: center;
}

.card-image {
  width: 260px;
  height: 160px;
}

.platforms-container{

}

.platform-box{

}

.form-div{

}

.mainText{

}

.new-course-conatiner{
  margin-top: 40px
}

#course-name{
  margin-top: 20px
}

#course-start-date{
  margin-top: 40px
}

.todos-container{
    margin-top: 40px
}
